    <!-- Logo -->
<div class="d-flex justify-content-center mb-4">
    <img src="images/LogoBicicletaRoja.png" alt="App Logo" width="300" />
</div>

<!-- Título -->
<div class="mb-3">
    <p class="text-muted">Access your account</p>
</div>

<EditForm Model="loginDTO" OnValidSubmit="LoginAsync">
    <DataAnnotationsValidator />

    <div class="mb-4">
        <div class="input-group">
            <span class="input-group-text" style="width: 120px">
                <i class="fa fa-lock me-2"></i> @GetDisplayName(() => loginDTO.UserName)
            </span>
            <InputText class="form-control" @bind-Value="loginDTO.UserName" />
        </div>
        <ValidationMessage For="@(() => loginDTO.UserName)" />
    </div>

    <div class="mb-4">
        <div class="input-group">
            <span class="input-group-text" style="width: 120px">
                <i class="fa fa-envelope me-2"></i> @GetDisplayName(() => loginDTO.Password)
            </span>
            <InputText type="password" class="form-control" @bind-Value="loginDTO.Password" />
        </div>
        <ValidationMessage For="@(() => loginDTO.Password)" />
    </div>

    <div class="mb-4 d-flex justify-content-between align-items-center">
        <div class="form-check">
            <InputCheckbox id="remember" class="form-check-input" @bind-Value="rememberMe" />
            <label class="form-check-label" for="remember">Keep me signed in</label>
        </div>
        <a @onclick="OpenRecoverPasswordModal" class="small link-primary text-decoration-none">Forgot password?</a>
    </div>

    <button type="submit" class="btn btn-gradient-success w-100">
        <i class="fa fa-lock me-2"></i> LOG IN
    </button>
</EditForm>


