@inherits LayoutComponentBase

<div class="login-wrapper">
    @Body
</div>

<style>
    .login-wrapper {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f2f5;
    }
</style>

