@page "/"
@layout LoginLayout

<link href="css/login.css" rel="stylesheet" />

<div class="container-fluid auth-split p-0">
    <div class="row g-0 min-vh-100">
        <!-- Panel izquierdo: Iniciar sesión -->
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center auth-left shadow-lg">
            <div class="auth-box login-box">
                <Register />
            </div>

        </div>

        <!-- Panel derecho: Registrarse -->
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center auth-right shadow-lg">
            <div class="auth-box register-box">
                <Login />
            </div>

        </div>
    </div>
</div>


