@page "/regpatient2s/edit/{Id:guid}"
@attribute [Authorize(Roles = "Administrator")]


@if (Patient2 is null)
{
    <Loading />
}
else
{
    <div class="container pt-4">
        <div class="card shadow-lg p-4 mb-5" style="border-radius: 12px;">
            <div class="card-header">
                <h2>Patient data - @Title</h2>
            </div>
            <div class="card-body">
                <FormPatient2 Patient2="Patient2"
                              OnSubmit="Edit"
                              ReturnAction="Return"
                              ExitAction="ExitAction" />
            </div>

        </div>
    </div>

}